<div class="row">
    <div class="col-xs-1">
        <button
            class="btn"
            aria-label="Delete"
            data-ng-click="$ctrl.deleteObjective()">

            <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </button>
    </div>

    <div class="col-xs-5">
        <input
            class="form-control"
            data-ng-model="$ctrl.objective.name" />
    </div>

    <div class="col-xs-3">
        <select
            class="form-control"
            data-ng-options="key as value for (key , value) in $ctrl.IMPACT_OPTIONS"
            data-ng-model="$ctrl.objective.impact.recent">
        </select>
    </div>

    <div class="col-xs-3">
        <select
            class="form-control"
            data-ng-options="key as value for (key , value) in $ctrl.IMPACT_OPTIONS"
            data-ng-model="$ctrl.objective.impact.future">
        </select>
    </div>
</div>
